.search-box {
    max-width: 900px;
    margin: 0 auto;

    .tab-content {
        background-color: #00000099;
        border-radius: 8px;
        box-shadow: 1px 1px 1px 1px #ccc;
    }

    .nav-link {
        &.active {
            background-color: #00000099;
            color: #fff;
        }
    }
    button {
        border: 1px solid #fff;
        background-color: transparent;
    }
    .btn.btn-danger {
        background-color: #dc3545;
        border: none;
    }
}
.search-bar {
    @include box-shadow-element;
    .search-bar__item {
        min-width: 12%;
    }
}
