.search-box {
    max-width: 1100px;
    margin: 0 auto;

    .tab-content {
        background-color: #00000099;
        border-radius: 8px;
        box-shadow: 1px 1px 1px 1px #ccc;
    }

    .nav-link {
        &.active {
            background-color: #00000099;
            color: #fff;
        }
    }
    button {
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
    }
    .btn.btn-danger {
        background-color: #dc3545;
        border: none;
    }
    .search__address {
        .dropdown-menu.show {
            width: 280px;
        }
    }
    .search__price {
        .dropdown-menu.show {
            width: 280px;
        }
    }
}
.search-bar {
    @include box-shadow-element;
    .search-bar__item {
        min-width: 12.5%;
        margin: 0 6px;
    }
}

.search__house-type {
    .dropdown-menu.show {
        min-width: 280px;
    }
}

.search__more {
    .dropdown-menu.show {
        min-width: 320px;
    }
    .bedroom__item {
        background-color: #f6f6f6;
        border-radius: 30px;
        min-width: 36px;
        &.bedroom__item--active {
            background-color: #ffeceb;
        }
    }
}
