@import "~bootstrap/scss/bootstrap";


@keyframes fadeOpacity {
    from {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}
.transitionFade{
    transition: all .2s ease-in-out;
}

@import 'constants';
@import 'header';
@import 'searchBox';